<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title> 吉首市旅游官网 </title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/gaikuang.css"/>
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
    <title></title>
</head>
<body>

<header id="header">
    <div class="logo"><img src="img/raw_1493013183_03.png" alt=""/></div>
    <nav class="container" id="nav">
        <div class="nav-tabs">
            <span class="bom">走进吉首</span>
            <span>畅玩吉首</span>
            <span>旅游服务</span>
            <span>吉首攻略</span>
            <span>在线旅游</span>
            <span><i>中文</i><i>English</i></span>
        </div>
        <div class="tab-content" id="boox">
            <div >
                <ul>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                </ul>
                <ul>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                </ul>
                <ul>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                </ul>
            </div>
            <div><ul>
                <li>美食</li>
                <li>美食</li>
                <li>美食</li>
                <li>美食</li>
            </ul>
                <ul>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                </ul></div>
            <div><ul>
                <li>高山</li>
                <li>高山</li>
                <li>高山</li>
                <li>高山</li>
            </ul>
                <ul>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                </ul>
                <ul>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                </ul></div>
            <div><ul>
                <li>美食</li>
                <li>美食</li>
                <li>美食</li>
                <li>美食</li>
            </ul>
                <ul>
                    <li>流水</li>
                    <li>流水</li>
                    <li>流水</li>
                    <li>流水</li>
                </ul>
                <ul>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                </ul></div>
            <div><ul>
                <li>美食</li>
                <li>美食</li>
                <li>美食</li>
                <li>美食</li>
            </ul>
                <ul>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                </ul>
                <ul>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                </ul></div>
            <div><ul>
                <li>美食</li>
                <li>美食</li>
                <li>美食</li>
                <li>美食</li>
            </ul>
                <ul>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                </ul>
                <ul>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                </ul></div>
            <div><ul>
                <li>美食</li>
                <li>美食</li>
                <li>美食</li>
                <li>美食</li>
            </ul>
                <ul>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                </ul>
                <ul>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                    <li>美食</li>
                </ul></div>
        </div>
    </nav>
</header>
<!--banner图片-->
<section class="banner">

</section>

<!--吉首概况-->
<section class="gaikuang container">
    <div class="logo"><img src="img/gaikuang/001.png" alt=""/></div>

    <!--地理概况-->
    <div class="dili">
        <span class="biude">地理概况</span>
        <div class="content">
            <div class="wenzhi">
                <p>吉首市位于湖南省西部、湘西土家族苗族自治州南部、319、209国道与枝柳铁路交汇处。市境东南部与泸溪县、西北部与花垣县、西南部与凤凰县、北部与保靖县、古丈县毗邻。地理坐标：北纬28°08′～28°29′、东经109°30′～110°04′。东西跨度55.9千米，南北跨度37.3千米。</p>
                <p>以吉首城区为起点，铁路旅程：东至长沙602千米，南至怀化103千米、至广州1317千米、至湛江1420千米，北至张家界152千米、至北京1748千米；公路旅程：东至常德310千米、至长沙460千米，西至湖北来凤263千米、至贵州松桃113千米、至重庆秀山137千米、至重庆863千米，至重庆黔江345千米，南至麻阳88千米、至怀化147千米、至贵州铜仁116千米，北至张家界152千米。吉首系湘西土家族苗族自治州州府和市政府驻地、湘鄂黔渝四省市边区重镇、最大的贸易市场和物资集散中心。</p>
            </div>
            <img src="img/gaikuang/002.png" alt=""/>
        </div>

    </div>


    <!--地理气候-->
    <div class="qihou">
        <span class="biude">地理气候</span>
        <div class="content">
            <img src="img/gaikuang/003.png" alt=""/>
            <img  class="mdl" src="img/gaikuang/003.png" alt=""/>
            <img  class="mdl" src="img/gaikuang/003.png" alt=""/>
            <img  class="mdl" src="img/gaikuang/003.png" alt=""/>
            <P>吉首市气候属中亚热带季风湿润性气候，兼具大陆性气候，四季分明，冬暖夏凉，春秋温和，冬长秋短，夏季40℃以上的气温极少出现。年平均温度17.3℃。7月最热，月平均气温29.2℃；1月最冷，月平均气温5.2℃。年降水日131天，降水量1446.8毫米。年日照时数1429.6小时，无霜期326天。</P>
        </div>

    </div>

<!--民族特色-->
    <div class="minzu">
        <span class="biude">民族特色</span>
        <div class="content">
            <div class="wenzhi">
                <p>2014年末全市总人口30.09万人，常住人口31.13万人。全市城镇人口22.80万人，城镇化率73.24%。全市人口出生率11.91‰，死亡率6.37‰，人口自然增长率5.54‰。</p>
                <p>吉首市是一个少数民族聚居地的城市。其中少数民族人口22.52万人，占总人口的77.3%，其中苗族人口12.1万人、土家族人口10.12万人。</p>
            </div>
            <img src="img/gaikuang/004.png" alt=""/>
        </div>
    </div>
<!--民族文化-->

<div class="wenhua">
    <span class="biude">民族文化</span>
    <p class="title">随着我市非物质文化遗产保护工作的加速，民俗文化活动的兴起，吉首市已基本形成了“东歌、西鼓、南戏、北狮、中春”的特色民族文化格局。</p>
    <div class="content">
        <img src="img/gaikuang/005.png" alt=""/>
            <p class="wenzhi">“东歌”，东部乡镇以山歌为主 位于吉首市东部的丹青、排绸、排吼乡镇是一个仡佬苗区，生活着两万多民族同胞。“正月调年，清明赶秋，五月望龙，六月数纱，七月鹊桥会，八月稻花黄，重阳斟美酒，山歌飞过岗”——这里唱歌对歌已成习俗，无论是婚嫁，表葬，走亲访友，喜庆哀乐都喜欢用山歌表达出来。因此，流传很多的歌谣，如“拦门歌”、“哭嫁歌”等。</p>
    </div>
    <div class="content">
        <img src="img/gaikuang/005.png" alt=""/>
        <p class="wenzhi">“西鼓”，西部乡镇以苗族鼓舞为主 苗族鼓舞，粗犷、豪放、刚劲有力，表演形式有单人鼓、双人鼓、三人鼓、群鼓、男女单打、男女双打、男女混合打等形式多样，节奏上，分慢板和快板之分。主要代表作有《苗族花鼓》、《丰必鼓》、《迎宾鼓》等。 目前，在我市西部的寨阳、矮寨、已略、社塘坡等乡镇的苗族同胞对苗族鼓舞是情有独钟，逢年过节，击鼓、敲鼓，跳鼓早都成一种习俗。尤其是矮寨镇德夯苗寨，“天下鼓乡”苗鼓大赛活动已举办多届，产生五代苗族女鼓王。</p>
    </div>
    <div class="content">
        <img src="img/gaikuang/005.png" alt=""/>
        <p class="wenzhi">“南戏”，南部乡镇以戏剧为主 南部是我市戏剧的最早发源地，包括乾州、河溪、双塘、马颈坳、白岩、排绸、排吼等乡镇，阳戏、花灯戏、折子戏、辰河高腔、弹戏、傩堂戏等多个剧种异彩纷呈。双塘镇全镇14个村就有九支业余剧团，逢年过节，他们到处搭台唱戏，特别是春节期间，更是从初一唱到十五。他们演出的阳戏剧目短小精焊，传统特色浓郁，很受群众的喜爱。1996年被湖南省文化厅授于“阳戏艺术之乡”。</p>
    </div>
    <div class="content">
        <img src="img/gaikuang/005.png" alt=""/>
        <p class="wenzhi">“北狮”，北部的乡镇以狮舞为主 在我市的矮寨、寨阳等北部苗族乡镇，历来就有舞狮抢狮的习俗。在苗乡，人们普遍认为，狮子不仅驱鬼降魔，为人们带来福音，同时也代表男子的刚强，不畏邪恶的正义感。 每年的大年初四至初十，在矮寨镇镇政府所在地、大兴村、德夯苗寨都要举行规模较大的“百狮会”活动，来自吉首、花垣、保靖、凤凰等周边县市乡镇的数十支舞狮队登台献艺。</p>
    </div>
    <div class="content">
        <img src="img/gaikuang/005.png" alt=""/>
        <p class="wenzhi">“中春”，吉首的中部以春为主 从古至今，每逢立春日，吉首乾州都要举行“扎春”、“迎春”活动。“乾州春”作为是游春活动的压轴戏，吸引了数万市民观赏。目前，乾州因“乾州春会”颇具民族文化特色，成为苗族春节文化特色地区，被确定为湖南省“春节文化特色地区”。</p>
    </div>
</div>

</section>

<!-- 结尾 -->
<footer class="jieshu">
    <div class="container">
        <div class="logo"><a href="#"><img src="img/raw_1493013183_39.png" alt=""></a></div>
        <div class="footer_tel">
            <ul class="tel">
                <h4>联系我们</h4>
                <li>邮箱：88888888@163.com</li>
                <li>咨询电话：888888888</li>
                <li>版权所有</li>
            </ul>
            <ul class="qq">
                <li>QQ：88888888</li>
                <li><a href="www.jishou.com">网址：www.jishou.com</a></li>
                <li>吉首旅游局</li>
            </ul>
        </div>
        <div class="weixin"><a href="#"><img src="img/raw_1493013183_40.png" alt=""></a></div>
    </div>
</footer>

</body>
<script src="js/main.js"></script>
<script>
    /*nav导航栏*/
    function fun(obj,a) {
        var header=document.getElementById("header")
        var tegle = document.getElementById(obj);
        var box = document.getElementById(a);
        var spns = tegle.getElementsByTagName("span");
        var lis = box.getElementsByTagName("div");
        for (i = 0; i < spns.length; i++) {
            spns[i].index = i;
            spns[i].onmouseover = function () {
                for (i = 0; i < spns.length; i++) {
                    spns[i].className = "";
                    lis[i].className = "";
                }
                ;
                this.className = "bom";
                console.log(this.index);
                lis[this.index].className = "dis-black";
            };
            lis[i].onmouseover = function () {
                for (i = 0; i < lis.length; i++) {
                    lis[i].className = "";
                };
                this.className = "dis-black";
            }
            header.onmouseout = function () {
                for (i = 0; i < lis.length; i++) {
                    lis[i].className = "";
                }
            }
        }
    }
    fun("nav","boox");

    /*轮播*/

</script>
</html>